@font-face {
    font-family: Top-Secret;
    src: url("./fonts/top-secret-kb/Top Secret.ttf");
}
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
h1 {
    font-size: 3rem;
    margin: 20px;
}
h2 {
    font-size: 1.5rem;
    font-style: italic;
    margin: 20px;
}
p, a {
    font-family: sans-serif;
    font-size: 1rem;
}
a {
    font-family: Helvetica, sans-serif;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/*** Header ***/
header .hero {
    background-image: url(./images/brunno-tozzo-t32lrFimPlU-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    height: 500px;
    width: 70%;
}
header h1, header h2 {
    text-align: center;
}
header .brand, header .tagline {
    background-color: rgba(256, 256, 256, .6);
}
header .brand {
    font-family: Top-Secret, impact, serif;
    margin: 0;
    padding: 20px 0 10px 0;
}
header .tagline {
    font-family: monospace;
    margin: 0;
    padding-bottom: 20px;
}

/*** Nav ***/
header nav {
    margin: auto;
    width: 50%;
}
header nav ul {
    margin: 25px 0 25px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
header nav a {
    font-size: 1.5rem;
    text-decoration: none;
    border-bottom: 2px solid black;
    padding: 0 50px 10px 50px;
}
header nav li:first-child a{
    border-bottom: 2px solid rgb(245, 29, 0);
}
header nav a:hover {
    color: rgb(245, 29, 0);
    cursor: pointer;
    border-bottom: 2px solid rgb(245, 29, 0);
    text-decoration: none;
}

/*** Content ***/

main {
    margin: auto;
    width: 50%;
}
main .monospace-list {
    font-family: monospace;
    list-style-type: none;
    padding: 1rem;
    background-color: rgba(0, 0, 0, .1);
}
