@font-face {
    font-family: Top-Secret;
    src: url("./fonts/top-secret-kb/Top Secret.ttf");
}
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
h1 {
    font-size: 3rem;
    margin: 20px;
}
h2 {
    font-size: 1.5rem;
    font-style: italic;
    margin: 20px;
}
p, a {
    font-family: sans-serif;
    font-size: 1rem;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/*** Header ***/
header h1, header h2 {
    text-align: center;
}
header img {
    display: block;
    margin: 20px auto;
    height: 400px;
    width: 600px;
}
header .brand {
    font-family: Top-Secret, impact, serif;
    margin-bottom: 10px;
}
header .tagline {
    font-family: monospace;
    margin-top: 10px;
}
header nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 16px;
}